@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Run It Akatsuki</h1>
    <p>Learn about Our Pain<a href="https://docs.microsoft.com/aspnet/core">building The Akatsuki</a>.</p>
</div>
<style>
     body {
                background-size: cover;
                font-family: Arial;
                color: white;
                background-color: black;
            }

            img.huh {
                width: 1300px;
                height: 700px;
            }
</style>

<section>
    <img class="huh" src="https://media0.giphy.com/media/oviDNVbi9oo3m/giphy.gif" alt="ii" />
</section>

