@page
@model PrivacyModel
@{
    ViewData["Title"] = "Itachi";
    <h1>Itachi The most dangerous out of the Akatsuki</h1>

    <p>
        Together with his sworn friend Shisui, Itachi takes on a mission to assassinate a spy in the village in order to join the Anbu. The rivalry between the Uchiha clan and the village grows ever more fierce, until finally death comes for his friend. Despairing at both his clan and the village, Itachi heads into the tragic night with his new eye and a fatal resolve. The hope and the dreams he spoke of to his brother... The gentle yet cruel truth awaits.
    </p>

    <style>
        body {
            background-size: cover;
            font-family: Arial;
            color: white;
            background-color: black;
        }

        img.uh {
            width: 1000px;
            height: 500px;
        }
    </style>

    <section>
        <img class="uh" src="https://media1.giphy.com/media/ADSJHOoIvyjKM/giphy.gif" alt="itachi" />
    </section>

    <section>
        <h2>Nagato</h2>
        <p>According to Madara, Nagato is a descendant of the Uzumaki clan. During the Second Great Shinobi World War, Nagato lived with his parents in a village near Amegakure. One day two Konoha shinobis broke into their home looking for food, unaware that the place was still inhabited. Nagato's parents, believing they were going to killed, attacked the two so that Nagato could scape. Having mistaken them to be enemy ninjas, the konoha ninjas killed his parents. In his grief, Nagato awakened his Rinnegan and killed the assailants. He would come to consider this the First Great Pain Of His Life.</p>
        <img src="https://media1.giphy.com/media/ydjT9XN7kqm9G/giphy.gif" alt="nag" />
    </section>
    <section>
        <h3>Kisame</h3>
        <p>Kisame Hoshigaki (干柿鬼鮫, Hoshigaki Kisame), feared as the Monster of the Hidden Mist (霧隠れの怪人, Kirigakure no Kaijin), was a shinobi of Kirigakure's Hoshigaki Clan. After joining the Seven Ninja Swordsmen of the Mist, he became a S-rank missing-nin and was partnered with Itachi Uchiha when the latter joined Akatsuki.</p>
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/33e52744-f4c7-49e8-bc02-f6b082a16ede/d9vay1p-02c32431-2668-47c8-a7b1-9ccec9d9ecf5.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzMzZTUyNzQ0LWY0YzctNDllOC1iYzAyLWY2YjA4MmExNmVkZVwvZDl2YXkxcC0wMmMzMjQzMS0yNjY4LTQ3YzgtYTdiMS05Y2NlYzlkOWVjZjUuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.P6hlBgJ4PvOfJ3U1jFFUsVL2KSh1on3TQjJQ5UPodpw" alt="Alternate Text" />
    </section>
    <section>
        <h3>Tobi</h3>
        <p>
            Obito Uchiha (うちはオビト, Uchiha Obito) was a member of Konohagakure's Uchiha clan. He was believed to have died during the Third Shinobi World War, his only surviving legacy being the Sharingan he gave to his teammate, Kakashi Hatake. In truth, Obito was saved from death and trained by Madara Uchiha, but the events of the war left Obito disillusioned with reality, and he inherited Madara's plan to create an ideal world. Resurfacing under the names of Tobi (トビ, Tobi) and Madara Uchiha himself, Obito subtly took control of the Akatsuki, using them as a means to advance his machinations, eventually going public and starting the Fourth Shinobi World War. However, towards the war's conclusion, Obito had a change of heart and, as atonement, sacrificed his life to save the same world he sought to replace.
        </p>
        <img src="https://media.giphy.com/media/10m1HRcK4htxCw/giphy.gif" alt="tob" />
    </section>

    <section>
        <h2>Konan</h2>
        <p>
            A founding member of the Akatsuki, the only woman in the organization’s second generation, and the advisor to the second generation’s leader, Pain, Konan is an exceptionally strong and cautious ninja. Uniquely, she can channel her chakra into paper for a variety of creative attacks, and she can even transform her body into various pieces of paper to move quickly and avoid harm.
        </p>
        <img src="https://media3.giphy.com/media/RCjbN1MyvmRYA/source.gif" alt="ko" />
    </section>
    <section>
        <h2>Sasori</h2>
        <p>
            Sasori is the greatest puppet master ninja in Naruto and is nearly immortal as well. He can summon an army of upwards of a hundred puppets made from humans that all retain their abilities, as well as numerous hidden weapons. Having transformed his own body into a puppet, Sasori is also immune to all manner of poisons and doesn’t take any actual damage from attacks that don’t strike his flesh core.
        </p>
        <img src="https://thumbs.gfycat.com/FlimsyWeeLadybug-size_restricted.gif" alt="sas" />
    </section>
    <section>
        <h2>Deidera</h2>
        <p>
            One of the flashiest members of the Akatsuki, Deidara is an explosives expert who specializes in widespread destruction. Combining earth and lighting elements to uses explosion techniques, Deidara uses the various mouths on his body to turn ordinary clay into moving explosives he controls with his chakra.
        </p>
        <img src="https://media3.giphy.com/media/VL0cQWykgM65O/giphy.gif" alt="dei" />
    </section>
    <section>
        <h2>Kakuza</h2>
        <p>
            Kakuzu is another near immortal and monstrous member of the Akatsuki. He possesses the ability to use each element of chakra to the fullest potential and his entire body is composed of tendrils that he can use like threads. This lets him not only control anything he inserts the threads into but also recover from fatal injuries by replacing his damaged organs with another’s instantly.
        </p>
        <img src="https://media0.giphy.com/media/DithwRZysJBra/giphy.gif" alt="ka" />
    </section>
    <section>
        <h2>Zetsu</h2>
        <p>
            White Zetsu is an Akatsuki member with a unique genetic composition that grants him access to a variety of useful techniques and gives him a distinctive pale complexion with plant-like appendages. He can use every basic nature transformation to the fullest extent possible and can even use advanced Wood Release techniques.
        </p>
        <img src="https://thumbs.gfycat.com/FixedCloseBlackrussianterrier-small.gif" alt="zet" />
    </section>
    <section>
        <h2>Hidan</h2>
        <p>
            Hidan isn’t so much a powerful ninja, as he is a durable one. He really only has two tricks, his exceptional immortality and a technique that turns him into a voodoo doll that harms anyone who attacks him so long as he’s within a special symbol.
        </p>
        <img src="https://media3.giphy.com/media/LLfsHY4aXkT9C/giphy.gif" alt="hi" />
    </section>








}
